/* .bd-placeholder-img,
rounded-circle {
    background-image: url(../images/html.jpg);
    background-repeat: no-repeat;
} */
.circle {
    border: 2px solid black;
    border-radius: 100%;
    width: min-content;
    height: min-content;
}

.icons {
    font-size: 150px;
}

#skills {
    margin-bottom: 100px;
}

.codeBackground {
    height: calc(100vh - 25px);
    background-image: url(../images/codeBackgroundi.gif);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumpoMargin {
    margin-top: 200px;
}

.jumpobtn {
    margin-top: 20px;
}