/* .bd-placeholder-img,
rounded-circle {
    background-image: url(../images/html.jpg);
    background-repeat: no-repeat;
} */
.circle {
    border: 2px solid black;
    border-radius: 100%;
    width: min-content;
    height: min-content;
}

/* this is the icon from fontawesome */
.icons {
    font-size: 150px;
}

#skills {
    margin-bottom: 100px;
}

.codeBackground {
    height: calc(100vh - 25px);
    background-image: url(../images/codeBackgroundi.gif);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* this is the jumpotron margin for the header,text and button  */
.jumpoMargin {
    margin-top: 300px;
}

/* this is a class for jumpotron button  */
.jumpobtn {
    margin-top: 20px;
}

.my-work {
    margin-top: 20px;
}

.about-me {
    margin-top: 20px;
    margin-bottom: 20px;
}

.name {
    line-height: 0;
    font-style: italic;
    margin-bottom: 40px;
}